$font-family-day: Arial, Helvetica, sans-serif;
$font-size-day: 30px;
$border-day: 1px solid #000;
$border-background-color: #eee;
$border-width-and-height: 100px;
$calendar-padding: 10px;
$gap: 1px;
$weekdays: 'mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun';
