@use './base' as *;
@use 'sass:list';

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: calc(#{$border-width-and-height} * 7 + 6 + (#{$calendar-padding} * 2));
  gap: 1px;
  padding: $calendar-padding;
}

.calendar__day {
  background-color: #eee;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  width: #{$border-width-and-height}px;
  height: #{$border-width-and-height}px;
  transition-duration: 0.5s;
  display: flex;

  &:hover {
    cursor: pointer;
    background-color: #ffbfcb;
    transition-duration: 0.5s;
    transform: translateY(-20px);
  }
}

@for $i from 1 through 31 {
  .calendar__day:nth-child(#{$i})::before {
    content: '#{$i}';
  }
}

@for $i from 28 through 32 {
  .calendar--month-length-#{$i} .calendar__day:nth-child(n + #{$i + 1}) {
    display: none;
  }
}

@each $weekday in $weekdays {
  $idx: list.index($weekdays, $weekday);

  .calendar--start-day-#{$weekday} .calendar__day:first-child {
    margin-left: ($border-width-and-height + 1px) * ($idx - 1);
  }
}
